// main variables
$font-family: 'MS Trebuchet', sans-serif;
$font-size: 14px;
$line-height: 1.15;
$text-color: #212121;

// use prefix for secondary variable, f.e. - $top-banner --font-family: 'Font Name', sans-serif;
