/* stylelint-disable selector-pseudo-class-no-unknown, max-nesting-depth */

.hidden {
    display: none !important;
}

.disabled {
    opacity: 0.5;
    pointer-events: none; // see Can I Use
}

.clear_self {
    &:after {
        clear: both;
        content: '';
        display: block;
    }
}

.clear_full {
    clear: both;

    &:after {
        clear: both;
        content: '';
        display: block;
    }
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ta_c {
    text-align: center;
}

.ta_l {
    text-align: left;
}

.ta_r {
    text-align: right;
}

.fl_l {
    float: left;
}

.fl_r {
    float: right;
}

.fl_n {
    float: none;
}

.w50_c {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.w75_c {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.grow_0 {
    display: block;
    flex-grow: 0;
    overflow: auto;
}

.grow_1 {
    display: block;
    flex-grow: 1;
    overflow: auto;
}
